/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  width: 100%;
overflow: visible;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-header{
  background-color: #f1f1f1;

}

